<h1> Individual Engineer </h1>


  <div>
    <p>Engineer ID: <%= engineer["eng_id"] %></p>
    <p>Name <%= engineer["name"] %></p>
    <p>Email: <%= engineer["email"] %></p>
    <p>Role: <%= engineer["role"] %></p>

  </div>
  

<div class="inlineform">

    <form action="/engineers/<%= engineer["eng_id"] %>/edit" method="get" class="form">
        <button>Edit Record</button>
    </form>

    <form action="/engineers" method="get" class="form">
        <button>Return</button>
    </form>

