<h1> Showing all Engineers: </h1>


    <div class="grid-container-engineer grid-heading">
        <div>Eng ID</div>
        <div>S/E Name</div>
        <div>Email</div>
        <div>Role</div>
    </div>

    <% engineers.each do |engineer| %>

        <div class="grid-container-engineer">
            <div><a href="/engineers/<%=engineer["eng_id"] %>"><%=engineer["eng_id"] %></a></div>
            <div><%= engineer["name"] %></div>
            <div><%= engineer["email"] %></div>
            <div><%= engineer["role"] %></div>
            
        </div>
    <% end %>

    <br>
        <form action="/engineers/new" method="get" class="form">
            <button>New Engineer</button>
        </form>
    <br>

    <div class="pagination">
        <center>
            <a href="#">&laquo;</a>
            <a class="active" href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">&raquo;</a>
        </center>
    </div>

